
<div class="grey lighten-3">

  <ul id="slide-out" class="sidenav sidenav-fixed grey lighten-5">

    <h3 class="white-text">Notes</h3>
    {{#each categories}}
      <li><a class="dark-text" href={{this}}>{{this}}</a></li>
    {{/each}}
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    
  <div class="row">
    <div class="col s12 m3">
    </div>
    <div class="col s12 m8 ">
      <div class="card grey lighten-5">
        <h3 class="dark-text text-darken-2">{{currentCategory}}</h3>
      </div>
    </div>
  </div>
  
  {{#each notes}}
    <div class="row">
      <div class="col s12 m3">
      </div>

      {{#each this}}
        <div class="col s12 m2">
          <div class="card grey lighten-5">
            <div class="card-content dark-text">
              <span class="card-title">Lecture Notes 2</span>
            </div>
            <div class="card-action">
              <a href="https://google.com">View</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>

  {{/each}}
</div>